In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.getcwd()

'/home/sunyc/Hydrology'

In [3]:
pcpSummary = pd.read_csv("./CMADS/For-swat-2012/Fork/PCPFORK.txt")

In [4]:
pcpSummary.head()

   ID  NAME      LAT      LONG  ELEVATION
0   1  P1-1  0.03125  60.03125          0
1   2  P1-2  0.03125  60.28125          0
2   3  P1-3  0.03125  60.53125          0
3   4  P1-4  0.03125  60.78125          0
4   5  P1-5  0.03125  61.03125          0

In [5]:
def read_pcp_data(path, fileList):
    pcp_data = pd.DataFrame()
    # each file a column, different file in different columns, 
    for file in fileList:

        pcp_data = pd.concat([pcp_data, pd.read_csv(os.path.join(path, file)+".txt", header=None)[1:]], axis=1)
        
    pcp_data.columns = fileList
    date = pd.date_range(start='2008-01-01', end='2016-12-31', freq='D')
    pcp_data.set_index(date, inplace=True)
    return pcp_data

path = "./CMADS/For-swat-2012/Station/Precipitation"
fileList = pcpSummary.NAME[:400]

pcp_data = read_pcp_data(path, fileList)

In [6]:
# get date from 20080101-20161231

pcp_data

NAME,P1-1,P1-2,P1-3,P1-4,P1-5,P1-6,P1-7,P1-8,P1-9,P1-10,...,P1-391,P1-392,P1-393,P1-394,P1-395,P1-396,P1-397,P1-398,P1-399,P1-400
2008-01-01,0.00,0.00,0.00,0.29,0.41,0.14,1.14,0.76,0.19,1.68,...,4.06,2.47,9.17,13.08,12.83,18.55,17.86,23.72,16.43,28.55
2008-01-02,0.02,0.02,0.13,0.04,0.00,0.00,0.00,0.00,0.10,0.25,...,0.00,0.16,1.78,1.78,2.96,2.13,2.84,4.99,11.94,22.48
2008-01-03,3.39,3.39,7.22,6.93,2.85,7.44,3.65,1.75,3.21,4.12,...,1.25,1.44,1.67,0.63,0.18,0.93,0.08,1.03,0.03,0.23
2008-01-04,5.31,5.31,5.35,4.30,5.01,3.96,4.44,3.94,4.33,5.03,...,0.00,0.00,0.00,0.00,0.00,0.21,0.46,0.61,0.55,0.46
2008-01-05,63.51,63.51,82.32,71.08,40.19,35.11,50.69,53.33,59.45,54.79,...,0.94,0.44,0.14,0.49,1.07,1.07,1.11,0.72,0.29,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2016-12-28,0.00,0.00,0.00,0.00,5.22,4.89,5.22,5.22,4.24,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2016-12-29,4.20,4.20,4.20,3.90,8.20,8.40,16.71,13.11,4.30,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2016-12-30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2016-12-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [7]:
pcp_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3288 entries, 2008-01-01 to 2016-12-31
Freq: D
Columns: 400 entries, P1-1 to P1-400
dtypes: float64(400)
memory usage: 10.1 MB

In [9]:
os.mkdir("./data")
pcp_data.to_csv("./data/pcp_data.csv")
pcp_data.to_pickle("./data/pcp_data.pkl")